:root {
  background-color: #010101;
  color: #aae;
}
.glslCanvas {
  position: fixed;
  onset: 0 0 0 0;
  z-index: -100;
}
* {
  margin: 0;
  padding: 0;
}
a:active, a:link, a:visited, a:hover {
  color: #88f;
}
